In [1]:
#Librerias
import pandas as pd
import os
import csv
import urllib3

In [2]:
#Lectura de datos desde carpeta
dataset1=pd.read_csv("IBM_Data.csv")
dataset1

,time,open,high,low,close,volume
0,3/25/2022 19:19,131.300000,131.300000,131.300000,131.300000,718
1,3/25/2022 19:18,131.300000,131.300000,131.300000,131.300000,282
2,3/25/2022 17:50,131.300000,131.300000,131.300000,131.300000,100
3,3/25/2022 16:59,131.340000,131.350000,131.340000,131.350000,1427
4,3/25/2022 16:42,131.326000,131.350000,131.326000,131.350000,1326
...,...,...,...,...,...,...
216878,4/6/2020 7:27,95.385037,95.385037,95.385037,95.385037,854
216879,4/6/2020 7:25,94.530379,94.530379,94.530379,94.530379,450
216880,4/6/2020 7:08,94.703037,94.703037,94.703037,94.703037,436
216881,4/6/2020 7:02,95.479999,95.479999,95.479999,95.479999,575
216882,4/6/2020 7:01,94.979290,94.979290,94.979290,94.979290,452

In [6]:
#Lectura de datos desde ruta
dataset2=pd.read_csv("/Users/Usuario/Ingenieria de datos/IBM/IBM_Data.csv")
dataset2

,time,open,high,low,close,volume
0,3/25/2022 19:19,131.300000,131.300000,131.300000,131.300000,718
1,3/25/2022 19:18,131.300000,131.300000,131.300000,131.300000,282
2,3/25/2022 17:50,131.300000,131.300000,131.300000,131.300000,100
3,3/25/2022 16:59,131.340000,131.350000,131.340000,131.350000,1427
4,3/25/2022 16:42,131.326000,131.350000,131.326000,131.350000,1326
...,...,...,...,...,...,...
216878,4/6/2020 7:27,95.385037,95.385037,95.385037,95.385037,854
216879,4/6/2020 7:25,94.530379,94.530379,94.530379,94.530379,450
216880,4/6/2020 7:08,94.703037,94.703037,94.703037,94.703037,436
216881,4/6/2020 7:02,95.479999,95.479999,95.479999,95.479999,575
216882,4/6/2020 7:01,94.979290,94.979290,94.979290,94.979290,452